:root {
  /* Colores principales */
  --color-primary: #1EA53A;
  /* botones */

  /* Fondos */
  --color-card: #FFFFFF;
  /* card */
  --color-navbar: #E9F7EA;
  /* navbar y badge */

  /* Textos */
  --color-title: #0B2F1A;
  /* títulos principales */
  --color-text-secondary: #6B776B;
  /* texto secundario */

  /* Bordes */
  --color-border: #0000000e;

  /* Fuentes */
  --font-weight-title: 600;
  /* títulos principales (semi bold) */
  --font-weight-secondary: 400;
  /* texto secundario (regular) */
}





.court-card {
  border-radius: 14px;
  background: var(--color-card);
  border: 1px solid var(--color-border);
  overflow: hidden;
}

.card-img-top {
  height: 180px;
  object-fit: cover;
}

/* badge disponible */

.badge-available {
  position: absolute;
  top: 15px;
  left: 15px;

  background: var(--color-navbar);
  color: var(--color-title);

  font-weight: var(--font-weight-secondary);
  padding: 6px 12px;
  border-radius: 20px;
}

/* titulo */

.court-title {
  color: var(--color-title);
  font-weight: var(--font-weight-title);
  margin-bottom: 12px;
}

/* tags */

.badge-tag {
  background: var(--color-navbar);
  color: var(--color-title);
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 13px;
}

/* precio */

.price {
  color: var(--color-title);
  font-weight: var(--font-weight-title);
  margin: 0;
}

/* boton */

.btn-reserve {
  background: var(--color-primary);
  color: white;
  border-radius: 10px;
  padding: 6px 18px;
  border: none;
}