:root {
  /* Colores principales */
  --color-primary: #1EA53A;
  /* botones */

  /* Fondos */
  --color-card: #FFFFFF;
  /* card */
  --color-navbar: #E9F7EA;
  /* navbar y badge */

  /* Textos */
  --color-title: #0B2F1A;
  /* títulos principales */
  --color-text-secondary: #6B776B;
  /* texto secundario */

  /* Bordes */
  --color-border: #0000000e;

  /* Fuentes */
  --font-weight-title: 600;
  /* títulos principales (semi bold) */
  --font-weight-secondary: 400;
  /* texto secundario (regular) */
}